body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4facfe, #00f2fe);
}

  
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Added */
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    
    width: 300px;
    height: 300px;
  }
  
  .board div {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
  }
  
  .new-game {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background: greenyellow;
    border: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
  }

  .new-game:hover{
    transform: scale(1.01);
    color: white;
    background: #000;
    transition: 0.2s ease-in-out;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #winner-announcement{
    font-size: 20px;
    font-weight: 800;
  }
  
  .close-btn{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    padding: 8px;
    border: none;
    background: gray;
    color: white;
    transition: 0.2s ease-in-out;
  }

  .close-btn:hover{
    color: #000;
    background: greenyellow;
    transition: 0.2s ease-in-out;

  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  
  .popup:not(.hidden) {
    visibility: visible;
    opacity: 1;
  }
  
  .status {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
  }
  